<%-include("../partials/header")%>

<div class="container">
	<!-- <div class="container"> -->
	<header class="jumbotron">
	<h1>Welcome to YelpCamp!</h1>
	<p>View our hand-picked campgrounds from all over the world</p>
	<p>
		<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
	</p>
	</header>
	
	<!-- </div> -->
	<div class="row text-center" style="display: flex;flex-wrap: wrap;">
		<%campgrounds.forEach(function(campground){%>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img id="fix-height" src="<%=campground.image%>">
				<div class="caption ">
					<h4 class="giveMeEllipsis"><%=campground.name%></h4>
				</div>
				<p>
					<a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">More Info</a>
				</p>
			</div>
		</div>
		<%});%>
	</div>
	

</div>
<%-include("../partials/footer")%>
